



/* TOP BAR */
.top-bar {
  background: #2d2d2d;
  color: white;
  display: flex;
  align-items: center;
  text-align: end;
}

.back-btn {
  background: none;
  border: 2px solid #444;
  border-radius: 4px;
  padding: 4px 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.back-btn:hover {
    transform: translateX(5px);
    background: white;
    color: black;
}

.title {
  margin-left: 10px;
  font-size: 14px;
}

/* IMAGE */
.image-box {
  background: #402727;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.image-box img {
  width: 220px;
  height: 200px;
  border-radius: 3px;
}

/* CONTENT ZONE */
.content {
  background: #4c1b1b;
  color: white;
  padding: 15px;
}

.menu-name {
  margin: 5px 0 3px;
}

.price {
  margin: 0 0 10px;
}

/* OPTIONS */
.option-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.opt-btn {
  background: #d2c9c9;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
.opt-btn:hover {
    background: #272626;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
    color: #d2c9c9;
}
.opt-btn:active{
    transition: 0s;
    transform: scale(0.9);
}


.opt-btn.active {
  background: #ffffff;
}

/* NOTES */
.notes-label {
  display: block;
  margin-bottom: 5px;
}

.notes-box {
  width: 100%;
  height: 120px;
  border-radius: 6px;
  border: none;
  padding: 10px;
  resize: none;
}

/* PROMOTION BANNER */
.promo {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
    font-family: Jua;
  gap: 6px;
  font-size: 13px;
}

.promo-icon {
  width: 35px;
}

/* ORDER SECTION */
.order-row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qty {
  display: flex;
  align-items: center;
  gap: 15px;
}

.qty-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.qty-btn:hover {
    background-color: white;
    color:#272626;
    transform: translateY(5px);
}

.qty-btn:active {
    transition: 0s;
    transform: scale(0.97);
}

.qty-num {
  font-size: 16px;
}

/* ADD BUTTON */
.tambah-btn {
  margin-top: 20px;
  width: 100%;
  background: #c62828;
  border: none;
  padding: 14px 0;
  font-size: 20px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.tambah-btn:hover {
    background: #881b1b;
}
.tambah-btn:active{
    transition: 0s;
    transform: scale(0.97);
}


/* COPYRIGHT */
.copyright {
  background: #c62828;
  padding: 6px;
  text-align: center;
  color: white;
  font-size: 12px;
}


#kotak-dialog:hover{
    box-shadow: 0 20px 50px rgba(255, 255, 255, 0.25);
}

#kotak-dialog {
  border: none;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
}

/* Backdrop blur hitam */
#kotak-dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

body.dialog-open {
  overflow: hidden;
}

#kotak-dialog[open] {
  animation: fadeIn 0.6s ease-in-out;
}

#kotak-dialog[close] {
  animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translate(-50%, -45%);
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%)
  }
  to {
    opacity: 0;
    transform: translate(-50%, -45%)
  }
}

.delete-order-btn{
  background: #B42323;
          color: white;
          border: none;
          padding-left: 5px;
          padding-right: 5px;
          border-radius: 8px;
          font-size: 18px;
          font-weight: 700;
            cursor: pointer;
            transition: background 0.3s;
}

.delete-order-btn:hover {
  background: rgb(46, 45, 45);
  color:#ffffff;
  transform: translateY(3px), scale(1.1);
  transition: 0.6s;
}

.delete-order-btn:active {
  transition: 0s;
  transform: scale(0.97);
}